@page
@model BD1.Pages.Klientis.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Klienti</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Klienti.FIO" class="control-label"></label>
                <input asp-for="Klienti.FIO" class="form-control" />
                <span asp-validation-for="Klienti.FIO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Klienti.Pol" class="control-label"></label>
                <input asp-for="Klienti.Pol" class="form-control" />
                <span asp-validation-for="Klienti.Pol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Klienti.Data_rojdenia" class="control-label"></label>
                <input asp-for="Klienti.Data_rojdenia" class="form-control" />
                <span asp-validation-for="Klienti.Data_rojdenia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Klienti.Adres" class="control-label"></label>
                <input asp-for="Klienti.Adres" class="form-control" />
                <span asp-validation-for="Klienti.Adres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Klienti.Telefon" class="control-label"></label>
                <input asp-for="Klienti.Telefon" class="form-control" />
                <span asp-validation-for="Klienti.Telefon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Klienti.Pasportnie_dannie" class="control-label"></label>
                <input asp-for="Klienti.Pasportnie_dannie" class="form-control" />
                <span asp-validation-for="Klienti.Pasportnie_dannie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
