@page
@model BD1.Pages.Doljnostis.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Doljnosti</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Doljnosti.Naimenovanie_doljnosti" class="control-label"></label>
                <input asp-for="Doljnosti.Naimenovanie_doljnosti" class="form-control" />
                <span asp-validation-for="Doljnosti.Naimenovanie_doljnosti" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doljnosti.Oklad" class="control-label"></label>
                <input asp-for="Doljnosti.Oklad" class="form-control" />
                <span asp-validation-for="Doljnosti.Oklad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doljnosti.Trebovaniya" class="control-label"></label>
                <input asp-for="Doljnosti.Trebovaniya" class="form-control" />
                <span asp-validation-for="Doljnosti.Trebovaniya" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doljnosti.Obyazanosti" class="control-label"></label>
                <input asp-for="Doljnosti.Obyazanosti" class="form-control" />
                <span asp-validation-for="Doljnosti.Obyazanosti" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
