@page
@model BD1.Pages.Sotrudnikis.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Sotrudniki</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Sotrudniki.FIO" class="control-label"></label>
                <input asp-for="Sotrudniki.FIO" class="form-control" />
                <span asp-validation-for="Sotrudniki.FIO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sotrudniki.Vozrast" class="control-label"></label>
                <input asp-for="Sotrudniki.Vozrast" class="form-control" />
                <span asp-validation-for="Sotrudniki.Vozrast" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sotrudniki.Pol" class="control-label"></label>
                <input asp-for="Sotrudniki.Pol" class="form-control" />
                <span asp-validation-for="Sotrudniki.Pol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sotrudniki.Adres" class="control-label"></label>
                <input asp-for="Sotrudniki.Adres" class="form-control" />
                <span asp-validation-for="Sotrudniki.Adres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sotrudniki.Telefon" class="control-label"></label>
                <input asp-for="Sotrudniki.Telefon" class="form-control" />
                <span asp-validation-for="Sotrudniki.Telefon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sotrudniki.Pasportnie_dannie" class="control-label"></label>
                <input asp-for="Sotrudniki.Pasportnie_dannie" class="form-control" />
                <span asp-validation-for="Sotrudniki.Pasportnie_dannie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
