@page
@model BD1.Pages.Dop_yslygis.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Dop_yslygi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Dop_yslygi.ID" />
            <div class="form-group">
                <label asp-for="Dop_yslygi.Naimenovanie" class="control-label"></label>
                <input asp-for="Dop_yslygi.Naimenovanie" class="form-control" />
                <span asp-validation-for="Dop_yslygi.Naimenovanie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dop_yslygi.Opisanie" class="control-label"></label>
                <input asp-for="Dop_yslygi.Opisanie" class="form-control" />
                <span asp-validation-for="Dop_yslygi.Opisanie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dop_yslygi.Cena" class="control-label"></label>
                <input asp-for="Dop_yslygi.Cena" class="form-control" />
                <span asp-validation-for="Dop_yslygi.Cena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dop_yslygi.Kod_prokata" class="control-label"></label>
                <input asp-for="Dop_yslygi.Kod_prokata" class="form-control" />
                <span asp-validation-for="Dop_yslygi.Kod_prokata" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dop_yslygi.Kod_yslygi_3Kod_prokata" class="control-label"></label>
                <input asp-for="Dop_yslygi.Kod_yslygi_3Kod_prokata" class="form-control" />
                <span asp-validation-for="Dop_yslygi.Kod_yslygi_3Kod_prokata" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dop_yslygi.Kod_yslygi_2Kod_prokata" class="control-label"></label>
                <input asp-for="Dop_yslygi.Kod_yslygi_2Kod_prokata" class="form-control" />
                <span asp-validation-for="Dop_yslygi.Kod_yslygi_2Kod_prokata" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
